@charset "utf-8";
	.mdm-toolBar-icon-splitScreen
{
	background-image : url(mdm-toolBar-icon-splitScreen.png);
	background-repeat : no-repeat;
	width : 25px;
	height : 25px;
}
.mdm-toolBar-icon-print
{
	background-image : url(mdm-toolBar-icon-print.png);
	background-repeat : no-repeat;
	width : 25px;
	height : 25px;
}
.mdm-toolBar-icon-share
{
	background-image : url(mdm-toolBar-icon-share.png);
	background-repeat : no-repeat;
	width : 25px;
	height : 25px;
}
.mdm-toolBar-icon-contact
{
	background-image : url(mdm-toolBar-icon-contact.png);
	background-repeat : no-repeat;
	width : 25px;
	height : 25px;
}
.mdm-toolBar-icon-print:hover
{
	background-image : url(mdm-toolBar-icon-print--hover.png);
	background-repeat : no-repeat;
	width : 25px;
	height : 25px;
}
.mdm-toolBar-icon-contact:hover
{
	background-image : url(mdm-toolBar-icon-contact--hover.png);
	background-repeat : no-repeat;
	width : 25px;
	height : 25px;
}
.mdm-toolBar-icon-download
{
	background-image : url(mdm-toolBar-icon-download.png);
	background-repeat : no-repeat;
	width : 25px;
	height : 25px;
}
.mdm-toolBar-icon-share:hover
{
	background-image : url(mdm-toolBar-icon-share--hover.png);
	background-repeat : no-repeat;
	width : 25px;
	height : 25px;
}
.mdm-toolBar-icon-download:hover
{
	background-image : url(mdm-toolBar-icon-download--hover.png);
	background-repeat : no-repeat;
	width : 25px;
	height : 25px;
}
.mdm-toolBar-icon-splitScreen:hover
{
	background-image : url(mdm-toolBar-icon-splitScreen--hover.png);
	background-repeat : no-repeat;
	width : 25px;
	height : 25px;
}
