@charset "utf-8";
	.sprite-cwidgetbase-grid:hover
{
	background-image : url(sprite-cwidgetbase-grid--hover.png);
	background-repeat : no-repeat;
	width : 28px;
	height : 27px;
}
.sprite-cwidgetbase-globe
{
	background-image : url(sprite-cwidgetbase-globe.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-cwidgetbase-globe:hover
{
	background-image : url(sprite-cwidgetbase-globe--hover.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-cwidgetbase-grid
{
	background-image : url(sprite-cwidgetbase-grid.png);
	background-repeat : no-repeat;
	width : 28px;
	height : 27px;
}
.sprite-cwidgetbase-doc-csv:hover
{
	background-image : url(sprite-cwidgetbase-doc-csv--hover.png);
	background-repeat : no-repeat;
	width : 27px;
	height : 27px;
}
.sprite-cwidgetbase-doc-pdf:hover
{
	background-image : url(sprite-cwidgetbase-doc-pdf--hover.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-cwidgetbase-doc-pdf-mini:hover
{
	background-image : url(sprite-cwidgetbase-doc-pdf-mini--hover.png);
	background-repeat : no-repeat;
	width : 27px;
	height : 27px;
}
.sprite-cwidgetbase-graph-mini:hover
{
	background-image : url(sprite-cwidgetbase-graph-mini--hover.png);
	background-repeat : no-repeat;
	width : 28px;
	height : 27px;
}
.sprite-cwidgetbase-doc-xls:hover
{
	background-image : url(sprite-cwidgetbase-doc-xls--hover.png);
	background-repeat : no-repeat;
	width : 27px;
	height : 27px;
}
.sprite-cwidgetbase-modify:hover
{
	background-image : url(sprite-cwidgetbase-modify--hover.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-cwidgetbase-sclose
{
	background-image : url(sprite-cwidgetbase-sclose.png);
	background-repeat : no-repeat;
	width : 18px;
	height : 18px;
}
.sprite-cwidgetbase-sdown
{
	background-image : url(sprite-cwidgetbase-sdown.png);
	background-repeat : no-repeat;
	width : 18px;
	height : 18px;
}
.sprite-cwidgetbase-sdown:hover
{
	background-image : url(sprite-cwidgetbase-sdown--hover.png);
	background-repeat : no-repeat;
	width : 18px;
	height : 18px;
}
.sprite-cwidgetbase-sleft
{
	background-image : url(sprite-cwidgetbase-sleft.png);
	background-repeat : no-repeat;
	width : 18px;
	height : 18px;
}
.sprite-cwidgetbase-sleft:hover
{
	background-image : url(sprite-cwidgetbase-sleft--hover.png);
	background-repeat : no-repeat;
	width : 18px;
	height : 18px;
}
.sprite-cwidgetbase-info
{
	background-image : url(sprite-cwidgetbase-info.png);
	background-repeat : no-repeat;
	width : 27px;
	height : 27px;
}
.sprite-cwidgetbase-ok:hover
{
	background-image : url(sprite-cwidgetbase-ok--hover.png);
	background-repeat : no-repeat;
	width : 27px;
	height : 27px;
}
.sprite-cwidgetbase-circle
{
	background-image : url(sprite-cwidgetbase-circle.png);
	background-repeat : no-repeat;
	width : 27px;
	height : 27px;
}
.sprite-cwidgetbase-ok
{
	background-image : url(sprite-cwidgetbase-ok.png);
	background-repeat : no-repeat;
	width : 27px;
	height : 27px;
}
.sprite-cwidgetbase-sright
{
	background-image : url(sprite-cwidgetbase-sright.png);
	background-repeat : no-repeat;
	width : 18px;
	height : 18px;
}
.sprite-cwidgetbase-bback
{
	background-image : url(sprite-cwidgetbase-bback.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-cwidgetbase-info:hover
{
	background-image : url(sprite-cwidgetbase-info--hover.png);
	background-repeat : no-repeat;
	width : 27px;
	height : 27px;
}
.sprite-cwidgetbase-doc-csv
{
	background-image : url(sprite-cwidgetbase-doc-csv.png);
	background-repeat : no-repeat;
	width : 27px;
	height : 27px;
}
.sprite-cwidgetbase-doc-pdf
{
	background-image : url(sprite-cwidgetbase-doc-pdf.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-cwidgetbase-graph-mini
{
	background-image : url(sprite-cwidgetbase-graph-mini.png);
	background-repeat : no-repeat;
	width : 28px;
	height : 27px;
}
.sprite-cwidgetbase-ok-nm:hover
{
	background-image : url(sprite-cwidgetbase-ok-nm--hover.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-cwidgetbase-ok-nm
{
	background-image : url(sprite-cwidgetbase-ok-nm.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-cwidgetbase-bback:hover
{
	background-image : url(sprite-cwidgetbase-bback--hover.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-cwidgetbase-forward
{
	background-image : url(sprite-cwidgetbase-forward.png);
	background-repeat : no-repeat;
	width : 27px;
	height : 27px;
}
.sprite-cwidgetbase-geo
{
	background-image : url(sprite-cwidgetbase-geo.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-cwidgetbase-doc-pdf-mini
{
	background-image : url(sprite-cwidgetbase-doc-pdf-mini.png);
	background-repeat : no-repeat;
	width : 27px;
	height : 27px;
}
.sprite-cwidgetbase-graph
{
	background-image : url(sprite-cwidgetbase-graph.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-cwidgetbase-vars:hover
{
	background-image : url(sprite-cwidgetbase-vars--hover.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-cwidgetbase-binfo
{
	background-image : url(sprite-cwidgetbase-binfo.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-cwidgetbase-modify
{
	background-image : url(sprite-cwidgetbase-modify.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-cwidgetbase-vars
{
	background-image : url(sprite-cwidgetbase-vars.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-cwidgetbase-ok-m
{
	background-image : url(sprite-cwidgetbase-ok-m.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-cwidgetbase-doc-xls
{
	background-image : url(sprite-cwidgetbase-doc-xls.png);
	background-repeat : no-repeat;
	width : 27px;
	height : 27px;
}
.sprite-cwidgetbase-bdown
{
	background-image : url(sprite-cwidgetbase-bdown.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-cwidgetbase-ok-m:hover
{
	background-image : url(sprite-cwidgetbase-ok-m--hover.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-cwidgetbase-down:hover
{
	background-image : url(sprite-cwidgetbase-down--hover.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-cwidgetbase-graph:hover
{
	background-image : url(sprite-cwidgetbase-graph--hover.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-cwidgetbase-down
{
	background-image : url(sprite-cwidgetbase-down.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-cwidgetbase-geo:hover
{
	background-image : url(sprite-cwidgetbase-geo--hover.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-cwidgetbase-bup:hover
{
	background-image : url(sprite-cwidgetbase-bup--hover.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-cwidgetbase-binfo:hover
{
	background-image : url(sprite-cwidgetbase-binfo--hover.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-cwidgetbase-bdown:hover
{
	background-image : url(sprite-cwidgetbase-bdown--hover.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-cwidgetbase-bup
{
	background-image : url(sprite-cwidgetbase-bup.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-cwidgetbase-sclose:hover
{
	background-image : url(sprite-cwidgetbase-sclose--hover.png);
	background-repeat : no-repeat;
	width : 18px;
	height : 18px;
}
.sprite-cwidgetbase-sright:hover
{
	background-image : url(sprite-cwidgetbase-sright--hover.png);
	background-repeat : no-repeat;
	width : 18px;
	height : 18px;
}
.sprite-cwidgetbase-circle:hover
{
	background-image : url(sprite-cwidgetbase-circle--hover.png);
	background-repeat : no-repeat;
	width : 27px;
	height : 27px;
}
.sprite-cwidgetbase-forward:hover
{
	background-image : url(sprite-cwidgetbase-forward--hover.png);
	background-repeat : no-repeat;
	width : 27px;
	height : 27px;
}
