@charset "utf-8";
	.sprite-geoelectorales-download:hover
{
	background-image : url(sprite-geoelectorales-download--hover.png);
	background-repeat : no-repeat;
	width : 28px;
	height : 27px;
}
.sprite-geoelectorales-download
{
	background-image : url(sprite-geoelectorales-download.png);
	background-repeat : no-repeat;
	width : 28px;
	height : 27px;
}
.sprite-geoelectorales-grid
{
	background-image : url(sprite-geoelectorales-grid.png);
	background-repeat : no-repeat;
	width : 28px;
	height : 27px;
}
.sprite-geoelectorales-ok-m:hover
{
	background-image : url(sprite-geoelectorales-ok-m--hover.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-geoelectorales-modify:hover
{
	background-image : url(sprite-geoelectorales-modify--hover.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-geoelectorales-graph:hover
{
	background-image : url(sprite-geoelectorales-graph--hover.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-geoelectorales-geo:hover
{
	background-image : url(sprite-geoelectorales-geo--hover.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-geoelectorales-binfo:hover
{
	background-image : url(sprite-geoelectorales-binfo--hover.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-geoelectorales-vars:hover
{
	background-image : url(sprite-geoelectorales-vars--hover.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-geoelectorales-doc-xls:hover
{
	background-image : url(sprite-geoelectorales-doc-xls--hover.png);
	background-repeat : no-repeat;
	width : 27px;
	height : 27px;
}
.sprite-geoelectorales-doc-csv:hover
{
	background-image : url(sprite-geoelectorales-doc-csv--hover.png);
	background-repeat : no-repeat;
	width : 27px;
	height : 27px;
}
.sprite-geoelectorales-doc-pdf-mini
{
	background-image : url(sprite-geoelectorales-doc-pdf-mini.png);
	background-repeat : no-repeat;
	width : 27px;
	height : 27px;
}
.sprite-geoelectorales-unlock-mini:hover
{
	background-image : url(sprite-geoelectorales-unlock-mini--hover.png);
	background-repeat : no-repeat;
	width : 28px;
	height : 27px;
}
.sprite-geoelectorales-unlock-mini
{
	background-image : url(sprite-geoelectorales-unlock-mini.png);
	background-repeat : no-repeat;
	width : 28px;
	height : 27px;
}
.sprite-geoelectorales-sdown:hover
{
	background-image : url(sprite-geoelectorales-sdown--hover.png);
	background-repeat : no-repeat;
	width : 18px;
	height : 18px;
}
.sprite-geoelectorales-sleft:hover
{
	background-image : url(sprite-geoelectorales-sleft--hover.png);
	background-repeat : no-repeat;
	width : 18px;
	height : 18px;
}
.sprite-geoelectorales-sright:hover
{
	background-image : url(sprite-geoelectorales-sright--hover.png);
	background-repeat : no-repeat;
	width : 18px;
	height : 18px;
}
.sprite-geoelectorales-circle:hover
{
	background-image : url(sprite-geoelectorales-circle--hover.png);
	background-repeat : no-repeat;
	width : 27px;
	height : 27px;
}
.sprite-geoelectorales-info:hover
{
	background-image : url(sprite-geoelectorales-info--hover.png);
	background-repeat : no-repeat;
	width : 27px;
	height : 27px;
}
.sprite-geoelectorales-bback:hover
{
	background-image : url(sprite-geoelectorales-bback--hover.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-geoelectorales-forward:hover
{
	background-image : url(sprite-geoelectorales-forward--hover.png);
	background-repeat : no-repeat;
	width : 27px;
	height : 27px;
}
.sprite-geoelectorales-bdown:hover
{
	background-image : url(sprite-geoelectorales-bdown--hover.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-geoelectorales-bup:hover
{
	background-image : url(sprite-geoelectorales-bup--hover.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-geoelectorales-ok-nm:hover
{
	background-image : url(sprite-geoelectorales-ok-nm--hover.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-geoelectorales-down:hover
{
	background-image : url(sprite-geoelectorales-down--hover.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-geoelectorales-graph-mini
{
	background-image : url(sprite-geoelectorales-graph-mini.png);
	background-repeat : no-repeat;
	width : 28px;
	height : 27px;
}
.sprite-geoelectorales-graph-mini:hover
{
	background-image : url(sprite-geoelectorales-graph-mini--hover.png);
	background-repeat : no-repeat;
	width : 28px;
	height : 27px;
}
.sprite-geoelectorales-doc-xls
{
	background-image : url(sprite-geoelectorales-doc-xls.png);
	background-repeat : no-repeat;
	width : 27px;
	height : 27px;
}
.sprite-geoelectorales-doc-csv
{
	background-image : url(sprite-geoelectorales-doc-csv.png);
	background-repeat : no-repeat;
	width : 27px;
	height : 27px;
}
.sprite-geoelectorales-doc-pdf
{
	background-image : url(sprite-geoelectorales-doc-pdf.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-geoelectorales-sclose:hover
{
	background-image : url(sprite-geoelectorales-sclose--hover.png);
	background-repeat : no-repeat;
	width : 18px;
	height : 18px;
}
.sprite-geoelectorales-doc-pdf-mini:hover
{
	background-image : url(sprite-geoelectorales-doc-pdf-mini--hover.png);
	background-repeat : no-repeat;
	width : 27px;
	height : 27px;
}
.sprite-geoelectorales-grid:hover
{
	background-image : url(sprite-geoelectorales-grid--hover.png);
	background-repeat : no-repeat;
	width : 28px;
	height : 27px;
}
.sprite-geoelectorales-sclose
{
	background-image : url(sprite-geoelectorales-sclose.png);
	background-repeat : no-repeat;
	width : 18px;
	height : 18px;
}
.sprite-geoelectorales-sdown
{
	background-image : url(sprite-geoelectorales-sdown.png);
	background-repeat : no-repeat;
	width : 18px;
	height : 18px;
}
.sprite-geoelectorales-sleft
{
	background-image : url(sprite-geoelectorales-sleft.png);
	background-repeat : no-repeat;
	width : 18px;
	height : 18px;
}
.sprite-geoelectorales-sright
{
	background-image : url(sprite-geoelectorales-sright.png);
	background-repeat : no-repeat;
	width : 18px;
	height : 18px;
}
.sprite-geoelectorales-ok
{
	background-image : url(sprite-geoelectorales-ok.png);
	background-repeat : no-repeat;
	width : 27px;
	height : 27px;
}
.sprite-geoelectorales-circle
{
	background-image : url(sprite-geoelectorales-circle.png);
	background-repeat : no-repeat;
	width : 27px;
	height : 27px;
}
.sprite-geoelectorales-ok:hover
{
	background-image : url(sprite-geoelectorales-ok--hover.png);
	background-repeat : no-repeat;
	width : 27px;
	height : 27px;
}
.sprite-geoelectorales-info
{
	background-image : url(sprite-geoelectorales-info.png);
	background-repeat : no-repeat;
	width : 27px;
	height : 27px;
}
.sprite-geoelectorales-bback
{
	background-image : url(sprite-geoelectorales-bback.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-geoelectorales-forward
{
	background-image : url(sprite-geoelectorales-forward.png);
	background-repeat : no-repeat;
	width : 27px;
	height : 27px;
}
.sprite-geoelectorales-bdown
{
	background-image : url(sprite-geoelectorales-bdown.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-geoelectorales-bup
{
	background-image : url(sprite-geoelectorales-bup.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-geoelectorales-ok-nm
{
	background-image : url(sprite-geoelectorales-ok-nm.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-geoelectorales-down
{
	background-image : url(sprite-geoelectorales-down.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-geoelectorales-ok-m
{
	background-image : url(sprite-geoelectorales-ok-m.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-geoelectorales-modify
{
	background-image : url(sprite-geoelectorales-modify.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-geoelectorales-graph
{
	background-image : url(sprite-geoelectorales-graph.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-geoelectorales-geo
{
	background-image : url(sprite-geoelectorales-geo.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-geoelectorales-binfo
{
	background-image : url(sprite-geoelectorales-binfo.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-geoelectorales-vars
{
	background-image : url(sprite-geoelectorales-vars.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-geoelectorales-doc-pdf:hover
{
	background-image : url(sprite-geoelectorales-doc-pdf--hover.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
