
/* CSS Document */
.custom_windy{
	font-family:Arial, Helvetica, sans-serif;
	width:387px;
	border: 1px solid #EEE;
	position:absolute;
	overflow: hidden;
	display:block;
	background-color:#FFF;
	-webkit-box-shadow: 1px 1px 2px 0px #555;
	box-shadow: 1px 1px 2px 0px #555;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	z-index: 1900;
	bottom: 55px;
    left: 11px;
	
}
.windy_animated{
    -webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

.custom_windy[collapsed=true]{
	height: 79px;
}
.custom_windy[collapsed=true] .container{
	display: none;
}
.custom_windy[collapsed=false][selectordate=false] .Resume{
	display: none;
}
.custom_windy[collapsed=false]{
	height: 270px;
}
.custom_windy .Date .Edit{
	position: absolute;
	right: 15px;
	top: 16px;
}
.custom_windy .Date .Selector{
	padding-top: 20px;
    padding-left: 10px;
	font-size: 12px;
}
.custom_windy .Clock .Selector{
	padding-top: 13px;
    padding-left: 10px;
}
.custom_windy .Clock .Selector select{
	width: 95%;
    padding: 5px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
	font-size: 12px;
}
.custom_windy .Surface .Selector{
	padding-top: 13px;
    padding-left: 10px;
	
}
.custom_windy .selectorDate{
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}
.custom_windy .Back{
	position: absolute;
    top: 0px;
    left: 0px;
    width: 30px;
    background: #f2f2f3;
    bottom: 0px;
	cursor: pointer;
}
.custom_windy .Content{
	position: absolute;
	top: 0px;
	left: 30px;
	right: 0px;
	bottom: 0px;
	background: white;
	text-align: center;
}

.custom_windy .Content .monthTab .itemMonth{
	display: inline-block;
    width: 47%;
    height: 20px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-align: center;
    line-height: 19px;
    font-size: 12px;
    color: white;
    position: relative;
}
.custom_windy .Content .monthTab{
	color: white;
    background: #8A898A;
    margin: 5px;
    font-size: 12px;
    width: 250px;
    left: 0px;
    height: 30px;
    position: relative;
	text-align: center;
    text-align-last: center;
}
.custom_windy .Content .monthTab:first-child{
	text-align: left;
}
.custom_windy .Content .monthTab:last-child{
	text-align: right;
}
.custom_windy .Content .Calendar{
	display: none;
}
.custom_windy .Content .Calendar.Selected{
	display: block;
}
.custom_windy .Content .Calendar .itemCell{
	display: inline-block;
    width: 30px;
    height: 30px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-align: center;
    line-height: 27px;
	font-size: 11px;
}
.custom_windy .Content .Calendar .itemRow{

}

.custom_windy .Content .Calendar .itemDay{
	background: #F2F2F3;
	color: #555;
	font-weight: bold;
}

.custom_windy .Content .Calendar .itemNumber{
	background: #b8b8b7;
    color: #555;
    font-weight: bold;
	cursor: pointer;
}
.custom_windy .Content .Calendar .itemNumber.selected{
	background: #65ACDB;
	color:white;
}
.custom_windy .Content .Calendar .itemNumber:hover{
	background: #65ACDB;
	color:white;
}
.custom_windy .Content .Calendar .itemOff{
	color:white;
	background: white;
}
.custom_windy .Surface .item{
	display: inline-block;
	margin-right: 15px;
	padding: 10px;
	color:#545454;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	cursor: pointer;
	font-size: 12px;
}
.custom_windy .Surface .item:hover{
	background:#D0D0CF;
}
.custom_windy .Surface .item.selected{
	background:#D0D0CF;
	color: #545555;
    font-weight: bold;
}
.custom_windy .Resume{
	position: absolute;
    top: 15px;
    left: 74px;
	/*display: none;*/
}
.custom_windy .Resume .itemInfo{
	display: inline-block;
	margin-right: 20px;
}
.custom_windy .Resume .itemInfo div{
	display: inline-block;
}
.custom_windy .Resume .itemInfo div:first-child{
	position: relative;
	top:7px;
	margin-right: 3px;
}
.custom_windy .Resume .itemInfo div:last-child{
	font-size: 11px;
	color: #545454;
}
.custom_windy .Legend{
	position: absolute;
    left: 70px;
    right: 5px;
	bottom: 0px;
}
.custom_windy .Legend .values{
	position: relative;
	top:6px;
}
.custom_windy .Legend .itemLegend{
	display: inline-block;
}
.custom_windy .Legend .itemLegendvalue{
	display: inline-block;
	font-size: 10px;
}

.custom_windy .Legend .itemLegendvalue:first-child div{
	   position: absolute;
    left: 0px;
    border-left: 1px solid;
    padding-left: 4px;
}
.custom_windy .Legend .itemLegendvalue:last-child div{
	    position: absolute;
    right: 0px;
    border-right: 1px solid;
    padding-right: 4px;
}
.custom_windy .titlesWindy{
	position: absolute;
    top: 0px;
    left: 70px;
    right: 44px;
}
.custom_windy .logo{
	background: #F2F2F3;
    display: block;
    width: 60px;
    height: 55px;
    padding: 2px;
	padding-top: 7px;
    padding-bottom: 7px;
}
.custom_windy .toolBar{
	position: absolute;
    width: 50px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    background-color: #F2F2F2;
    overflow: hidden;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.custom_windy .content{
	position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    overflow: hidden;
    padding: 3px;
}
.custom_windy .content .header{
	position: relative;
    padding-bottom: 3px;
    min-height: 50px;
	border-bottom: 2px solid #E5E5E5;
}
.custom_windy .tabulate{
	width:100%;
}
.custom_windy .tabulate th{
	text-align: left;
    font-size: 120%;
    background: #808080;
    color: white;
    padding: 5px;
    font-weight: inherit;
}
.custom_windy .tabulate .trCenago:hover{
	background:#F5F5F5;
}
.custom_windy .tabulate .rowCenago{
	border-bottom:1px solid #DDD;
	padding:5px;
	font-size:120%;
	color: #464648;
}
.custom_windy.none{
	width: auto !important;
	height: auto !important;
	position: relative !important;
	top: auto !important;
	left: auto !important;
}

.custom_windy .blocker {
	position: absolute;
    top: 75px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: #fff;
    border-top: 2px solid #f2f2f2;
	
}
.custom_windy .blocker .spinner{
	position: absolute;
	top: 45%;
	left: 40%;
}
.custom_windy .blocker .containerBlocker{
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
}
.custom_windy .blocker .containerBlocker .etiquetaBlock{
	margin-top: 15%;
    font-size: 150%;
    margin-bottom: 8px;
    font-weight: bold;
    color: #808080;
}
.custom_windy .container .sectionTool.Date{
	cursor: pointer;
}
.custom_windy .container .sectionTool{
	display: block;
	width: 100%;
	position: relative;
	border-bottom: 1px solid #EDEDEC;
	height: 60px;
}
.custom_windy .container .sectionTool .Icon{
	display: inline-block;
	position: relative;
	left: 10px;
	top: 4px;
	text-align: center;
	font-size: 10px;
    color: #545454;
    font-weight: bold;

}
.custom_windy .container .sectionTool .Selector{
	display: inline-block;
    position: absolute;
    left: 60px;
    /* top: 10px; */
    right: 5px;
    bottom: 3px;
    top: 3px;
}

.custom_windy .container{
	position: absolute;
    bottom: 3px;
    left: 3px;
    right: 4px;
    top: 80px;
    overflow: hidden;
}
.custom_windy .title{
	color: #333;
    font-size: 12px;
    font-weight: bold;
	margin-top:5px;
    width: 202px;
    float: left;
}
.custom_windy .table{
	float: left;
    width: 75%;
    margin-top: 8px;
    font-size: 11px;
    font-weight: bold;
}

.custom_windy .line{
	width: 100%;
    height: 3px;
    margin-top: 5px;
    background: #cccccc;
}
.custom_windy .line2{
	width: 100%;
    height: 2px;
    margin-top: 4px;
    background: #00695e;
    margin-bottom: 10px;
}
.custom_windy .recordCount{
	width: 100%;
    position: absolute;
    bottom: 0px;
    text-align: right;
    font-size: 110%;
    font-weight: bold;
    color: #464648;
    background: #F2F2F2;
    height: 20px;
}
.custom_windy .recordCount .labelCounter{
	padding-right:10px;
	line-height: 20px;
}
.custom_windy .searcher{
	position: absolute;
    top: 5px;
    left: 0px;
    right: 0px;
    height: 25px;
	/*display: none;*/
}

.custom_windy .info{
	position: absolute;
	top:/*32px;*/ 65px;
	left: 0px;
	right: 0px;
	bottom: 20px;
	overflow: auto;
}
.custom_windy .label{
	color: #808080;
    font-size: 125%;
    margin-top: 10px;
    margin-bottom: 2px;
	display: inline-block;
	
}
.custom_windy .headerCard{
	    background: #00695e;
    padding: 10px;
    font-size: 130%;
    color: white;
	font-weight: bold;
}
.custom_windy .headerCardSub{
	background: #258278;
    padding: 10px;
    font-size: 130%;
    color: white;
	font-weight: bold;
}
.custom_windy .Content select.unique{
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
.custom_windy .text{
	width: 94%;
    text-align: justify;
    font-size: 115%;
	display: inline-block;
	border-bottom: 1px solid #DDD;
    padding-bottom: 10px;
	    padding-left: 2%;
    padding-right: 2%;
	
    /*margin-left: 23px;*/
}
.custom_windy .trCenago.selected{
	background: #464648 !important;
}
.custom_windy .trCenago.selected .rowCenago{
	color: white !important;
}
.custom_windy .valueText{
	display: inline-block;
    font-size: 115%;
}
.custom_windy .text2{
	    width: 92%;
    text-align: justify;
    font-size: 115%;
    display: inline-block;
    border-bottom: 1px solid #DDD;
    padding-bottom: 10px;
    padding-left: 4%;
    padding-right: 4%;
}
.custom_windy .selected{
	background: #efefef;
}

.custom_windy .tools{
	position: absolute;
    width: 100%;
    bottom: 20px;
}
.custom_windy .itemTool{
	position: relative;
	cursor: pointer;
    padding: 5px 0px 5px 0px;
	transition: background 500ms ease;
}
.custom_windy .itemTool .labelItem{
	width:100%;
	text-align:center;
}
.custom_windy .itemTool:hover{
	background:#D0D0D0;
}
.custom_windy .rowPag{
	display: inline-block;
    position: relative;
    top: 2px;
}
.custom_windy .close{
	position:absolute;
	top:2px;
	right:47px;
}
.custom_windy .plegTable{
	position:absolute;
	top:2px;
	right:2px;
}

.custom_windy .iconTabulate{
	    margin-top: 4px;
		margin-bottom: 6px;
}
.template_windy{ background:url("img/windy.png") top left no-repeat; }
.tw_logo{
	width: 60px;
    height: 55px;
    background-position: 0px 0px;
}
.tw_rowDown{
	width: 40px;
    height: 40px;
    background-position: -2px -233px;
}
.tw_rowDown:hover{
	width: 40px;
    height: 40px;
    background-position: -43px -233px;
}
.tw_custom{
	width: 40px;
    height: 40px;
    background-position: -2px -273px;
}
.tw_custom:hover{
	width: 40px;
    height: 40px;
    background-position: -42px -273px;
}

.tw_min_date{
	position: absolute;
    width: 20px;
    height: 20px;
	background-position: -5px -319px
}
.tw_min_clock{
	width: 20px;
    height: 20px;
    background-position: -27px -319px
}
.tw_min_surface{
	width: 27px;
    height: 20px;
    background-position: -51px -319px;
}

.tw_date{
    width: 40px;
    height: 40px;
	background-position: -9px -93px;
}
.tw_clock{
	width: 40px;
    height: 40px;
    background-position: -7px -139px;
}
.tw_surface{
	width: 40px;
    height: 33px;
    background-position: -9px -54px;
}
.tw_edit{
	width: 25px;
    height: 25px;
    background-position: -28px -182px;
}
.tw_edit:hover{
	width: 25px;
    height: 25px;
    background-position: -51px -319px;
}
.tw_back{
	width: 30px;
    height: 32px;
    background-position: 0px -345px;
	position: relative;
    top: 40%;
}
.custom_windy .Back:hover div{
	background-position: 0px -381px;
}
.tw_back:hover{
    background-position: 0px -381px;
}
