@charset "utf-8";
	.sprite-eod-backm
{
	background-image : url(sprite-eod-backm.png);
	background-repeat : no-repeat;
	width : 28px;
	height : 27px;
}
.sprite-eod-circle
{
	background-image : url(sprite-eod-circle.png);
	background-repeat : no-repeat;
	width : 27px;
	height : 27px;
}
.sprite-eod-sdown
{
	background-image : url(sprite-eod-sdown.png);
	background-repeat : no-repeat;
	width : 18px;
	height : 18px;
}
.sprite-eod-sclose
{
	background-image : url(sprite-eod-sclose.png);
	background-repeat : no-repeat;
	width : 18px;
	height : 18px;
}
.sprite-eod-sleft:hover
{
	background-image : url(sprite-eod-sleft--hover.png);
	background-repeat : no-repeat;
	width : 18px;
	height : 18px;
}
.sprite-eod-sclose:hover
{
	background-image : url(sprite-eod-sclose--hover.png);
	background-repeat : no-repeat;
	width : 18px;
	height : 18px;
}
.sprite-eod-sleft
{
	background-image : url(sprite-eod-sleft.png);
	background-repeat : no-repeat;
	width : 18px;
	height : 18px;
}
.sprite-eod-sdown:hover
{
	background-image : url(sprite-eod-sdown--hover.png);
	background-repeat : no-repeat;
	width : 18px;
	height : 18px;
}
.sprite-eod-close:hover
{
	background-image : url(sprite-eod-close--hover.png);
	background-repeat : no-repeat;
	width : 28px;
	height : 27px;
}
.sprite-eod-sright
{
	background-image : url(sprite-eod-sright.png);
	background-repeat : no-repeat;
	width : 18px;
	height : 18px;
}
.sprite-eod-sright:hover
{
	background-image : url(sprite-eod-sright--hover.png);
	background-repeat : no-repeat;
	width : 18px;
	height : 18px;
}
.sprite-eod-backm-hover
{
	background-image : url(sprite-eod-backm-hover.png);
	background-repeat : no-repeat;
	width : 28px;
	height : 27px;
}
.sprite-eod-bback:hover
{
	background-image : url(sprite-eod-bback--hover.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-eod-forward
{
	background-image : url(sprite-eod-forward.png);
	background-repeat : no-repeat;
	width : 27px;
	height : 27px;
}
.sprite-eod-circle:hover
{
	background-image : url(sprite-eod-circle--hover.png);
	background-repeat : no-repeat;
	width : 27px;
	height : 27px;
}
.sprite-eod-ok:hover
{
	background-image : url(sprite-eod-ok--hover.png);
	background-repeat : no-repeat;
	width : 27px;
	height : 27px;
}
.sprite-eod-close
{
	background-image : url(sprite-eod-close.png);
	background-repeat : no-repeat;
	width : 28px;
	height : 27px;
}
.sprite-eod-bback
{
	background-image : url(sprite-eod-bback.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-eod-ok-nm
{
	background-image : url(sprite-eod-ok-nm.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-eod-info:hover
{
	background-image : url(sprite-eod-info--hover.png);
	background-repeat : no-repeat;
	width : 27px;
	height : 27px;
}
.sprite-eod-forward:hover
{
	background-image : url(sprite-eod-forward--hover.png);
	background-repeat : no-repeat;
	width : 27px;
	height : 27px;
}
.sprite-eod-bdown
{
	background-image : url(sprite-eod-bdown.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-eod-ok-nm:hover
{
	background-image : url(sprite-eod-ok-nm--hover.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-eod-bdown:hover
{
	background-image : url(sprite-eod-bdown--hover.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-eod-bup:hover
{
	background-image : url(sprite-eod-bup--hover.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-eod-down:hover
{
	background-image : url(sprite-eod-down--hover.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-eod-ok-m:hover
{
	background-image : url(sprite-eod-ok-m--hover.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-eod-modify
{
	background-image : url(sprite-eod-modify.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-eod-graph:hover
{
	background-image : url(sprite-eod-graph--hover.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-eod-legend:hover
{
	background-image : url(sprite-eod-legend--hover.png);
	background-repeat : no-repeat;
	width : 41px;
	height : 41px;
}
.sprite-eod-modify:hover
{
	background-image : url(sprite-eod-modify--hover.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-eod-graph
{
	background-image : url(sprite-eod-graph.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-eod-binfo
{
	background-image : url(sprite-eod-binfo.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-eod-binfo:hover
{
	background-image : url(sprite-eod-binfo--hover.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-eod-geo:hover
{
	background-image : url(sprite-eod-geo--hover.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-eod-doc-csv:hover
{
	background-image : url(sprite-eod-doc-csv--hover.png);
	background-repeat : no-repeat;
	width : 27px;
	height : 27px;
}
.sprite-eod-doc-xls
{
	background-image : url(sprite-eod-doc-xls.png);
	background-repeat : no-repeat;
	width : 27px;
	height : 27px;
}
.sprite-eod-doc-xls:hover
{
	background-image : url(sprite-eod-doc-xls--hover.png);
	background-repeat : no-repeat;
	width : 27px;
	height : 27px;
}
.sprite-eod-doc-csv
{
	background-image : url(sprite-eod-doc-csv.png);
	background-repeat : no-repeat;
	width : 27px;
	height : 27px;
}
.sprite-eod-sort-alphar
{
	background-image : url(sprite-eod-sort-alphar.png);
	background-repeat : no-repeat;
	width : 27px;
	height : 27px;
}
.sprite-eod-doc-pdf
{
	background-image : url(sprite-eod-doc-pdf.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-eod-pause
{
	background-image : url(sprite-eod-pause.png);
	background-repeat : no-repeat;
	width : 27px;
	height : 27px;
}
.sprite-eod-sort-alpha
{
	background-image : url(sprite-eod-sort-alpha.png);
	background-repeat : no-repeat;
	width : 27px;
	height : 27px;
}
.sprite-eod-swap:hover
{
	background-image : url(sprite-eod-swap--hover.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-eod-sort-numr
{
	background-image : url(sprite-eod-sort-numr.png);
	background-repeat : no-repeat;
	width : 27px;
	height : 27px;
}
.sprite-eod-graph-mini:hover
{
	background-image : url(sprite-eod-graph-mini--hover.png);
	background-repeat : no-repeat;
	width : 28px;
	height : 27px;
}
.sprite-eod-doc-pdf:hover
{
	background-image : url(sprite-eod-doc-pdf--hover.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-eod-grid:hover
{
	background-image : url(sprite-eod-grid--hover.png);
	background-repeat : no-repeat;
	width : 28px;
	height : 27px;
}
.sprite-eod-graph-mini
{
	background-image : url(sprite-eod-graph-mini.png);
	background-repeat : no-repeat;
	width : 28px;
	height : 27px;
}
.sprite-eod-doc-pdf-mini
{
	background-image : url(sprite-eod-doc-pdf-mini.png);
	background-repeat : no-repeat;
	width : 27px;
	height : 27px;
}
.sprite-eod-doc-pdf-mini:hover
{
	background-image : url(sprite-eod-doc-pdf-mini--hover.png);
	background-repeat : no-repeat;
	width : 27px;
	height : 27px;
}
.sprite-eod-sort-num
{
	background-image : url(sprite-eod-sort-num.png);
	background-repeat : no-repeat;
	width : 27px;
	height : 27px;
}
.sprite-eod-legend
{
	background-image : url(sprite-eod-legend.png);
	background-repeat : no-repeat;
	width : 41px;
	height : 41px;
}
.sprite-eod-big-info:hover
{
	background-image : url(sprite-eod-big-info--hover.png);
	background-repeat : no-repeat;
	width : 41px;
	height : 41px;
}
.sprite-eod-big-info
{
	background-image : url(sprite-eod-big-info.png);
	background-repeat : no-repeat;
	width : 41px;
	height : 41px;
}
.sprite-eod-down
{
	background-image : url(sprite-eod-down.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-eod-swap
{
	background-image : url(sprite-eod-swap.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-eod-play
{
	background-image : url(sprite-eod-play.png);
	background-repeat : no-repeat;
	width : 27px;
	height : 27px;
}
.sprite-eod-bup
{
	background-image : url(sprite-eod-bup.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-eod-ok
{
	background-image : url(sprite-eod-ok.png);
	background-repeat : no-repeat;
	width : 27px;
	height : 27px;
}
.sprite-eod-ok-m
{
	background-image : url(sprite-eod-ok-m.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-eod-grid
{
	background-image : url(sprite-eod-grid.png);
	background-repeat : no-repeat;
	width : 28px;
	height : 27px;
}
.sprite-eod-info
{
	background-image : url(sprite-eod-info.png);
	background-repeat : no-repeat;
	width : 27px;
	height : 27px;
}
.sprite-eod-geo
{
	background-image : url(sprite-eod-geo.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
