#headerPattern{
  /*position: absolute;*/
   /*width: 1920px;*/
  /*pointer-events: none;*/
  height: 60px;
 /* opacity: 0.25;*/
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
  bottom: 1.5px;

  display: flex; 
  justify-content: space-between; 
  align-items: center;
}
/*.headerFondo
{
	background-image : url(header/fondoHeaderM.jpg);
	background-repeat : no-repeat;

}
.headerFondo:hover
{
	background-image : url(header/fondoHeaderR.jpg);
	background-repeat : no-repeat;

}*/

.headerFondo{
  background-color:rgb(85 105 112);
  background-repeat : no-repeat;
}


#overlay{
  position: absolute;
  background-color: #000;
  opacity: 0.15;
  height: 60px;
  width: 1920px;
}
/*****************************/
.cont-logMapa{
  width: 10%;
}
.spacio{
  width: 10%;
}

.cont-titulos{
  width: 40%;
}

.cont-logos{
  width: 40%;
}



/**************************/









#headerLogoSEDUM {
  position: absolute;
  Right: 20rem;
  top: 0px;
  margin-right: 1rem;
  z-index: 2;
  pointer-events: none;
}

#headerLogoINEGI {
  position: absolute;
  Right: 10rem;
  top: 10px;
  margin-right: 1rem;
  z-index: 3;
  pointer-events: none;
  width: 112px; 
  height: 40px;
  
}

#headerLogoGobMich{
  position: absolute;
  Right: 0.5rem;
  top: 5px;
  margin-right: 1rem;
  z-index: 1;
  pointer-events: none;
  width: 112px;
  height: 50px;
}


#headerLogoMapaDig {
  position: absolute;
  width: auto;
  height: 50px;
  top: 5px;
  margin-left: 35px;
}

.headerBackground {
  /*background: #959E9D;*/
  z-index: 2000;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 60px;
  overflow: hidden;
}

/*.contorno-img{
  display: flex; 
  justify-content: space-between; 
  align-items: center;

}*/

#headerBtnEvalua {
  position: absolute;
  right: 359px;
  top: 0px;
  z-index: 5;

  cursor: pointer;
}

.headerTitle {
  width: 100%;
  font-size: 25px;
  text-align: center;
  margin: -2px 0 -18px 0;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 5px;
  color: #fff;
}

.headerSubtitle {
  width: 100%;
  font-size: 12px;
  margin-top: 0.5rem;
  text-align: center;
  margin: 12px 0 0 0;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}



@media (min-width: 900px) and (max-width: 1055px) {
  .headerTitle {
    font-size: 20px;
    letter-spacing: 1px;
    
  }
  .headerSubtitle {
    font-size: 12px;
  }
  
}


@media (min-width: 705px) and (max-width: 1230px) {
  .cont-logMapa{
    width: 15%;
  }
  .spacio{
    width: 10%;
  }
    
  .cont-titulos{
    width: 40%;
  }
    
  .cont-logos{
    width: 35%;
  }
}

@media (min-width: 540px) and (max-width: 899px) {
  #headerLogoSEDUM{
    width: 85px;
    right: 14.5rem;
    top: 5px;
  }
  #headerLogoINEGI{
    width: 90px;
    height: auto;
    top: 17px;
    right: 6.5rem;
  }
  #headerLogoGobMich{
    width: 90px;
   right: -0.5rem; 
    top: 6px;
  }
  #headerLogoMapaDig {
    position: static;
    top: 10px;
    height: 40px;
    margin-left:1rem;
  }
}
@media (min-width: 540px) and (max-width: 899px) {
  .cont-logMapa{
    width: 15%;
  }
  .cont-titulos{
    width: 40%;
  }
  .cont-logos{
    width: 50%;
  }
  .headerTitle {
    font-size: 18px;
    letter-spacing: 2px;
   
  }
  .headerSubtitle {
    font-size: 10px;
    
  }

  
}

/*@media only screen and (max-width: 539px) 
@media (min-width: 370px) and (max-width: 539px)*/
@media only screen and (max-width: 539px)  {
  #headerLogoSEDUM{
    width: 80px;
    right: 11.5rem;
    top: 5px;
  }
  #headerLogoINEGI{
    width: 80px;
    height: auto;
    top: 17px;
    right: 5.2rem;
  }
  #headerLogoGobMich{
    width: 80px;
   right: -1rem; 
    top: 6px;
  }
  #headerLogoMapaDig {
    position: static;
    height: 30px;
    margin-left:0.5rem;
  }
  .headerTitle {
    font-size: 15px;
    letter-spacing: 1px;
  }
  .headerSubtitle {
    font-size: 7px;
  }
  .cont-logos{
    width: 30%;
  }
  .cont-titulos {
    width: 30%;
  }
  .spacio {
  width: 25%;
  }

}

@media only screen and (max-width: 369px){
  #headerLogoSEDUM{
    width: 75px;
    right: 11rem;
    top: 5px;
  }
  #headerLogoINEGI{
    width: 75px;
    height: auto;
    top: 15px;
    right: 4.7rem;
  }
  #headerLogoGobMich{
    width: 75px;
   right: -1rem; 
    top: 6px;
  }
  #headerLogoMapaDig {
    position: static;
    height: 25px;
    margin-left:0.5rem;
  }

}


@media only screen and (max-width: 400px) {
  .spacio{
    width: 30%;
  }
  .cont-titulos {
    width: 25%;
}
}
