

body {
background:url(../img/geografia1.png);
background-repeat: no-repeat;
background-color: #dcdcdc;
/*  background-size: 100vw 100vh;
  background-attachment: fixed;*/
}

header{
	width: 100%;
}
h2 {
	/*color: #fff;*/
	text-align: center;
	font-size: 30px; 
	font-family: 'Helvetica', 'Arial', sans-serif; 
	margin: 0;
	margin-bottom: 20px;
  }
h5 { 
	/*color: #fff;*/
	text-align: center;
	font-size: 15px; 
	font-family: 'Helvetica', 'Arial', sans-serif; 
	margin: 0;
	margin-bottom: 20px;
  }
#submit:hover{
	cursor: pointer;
}
#submit:hover{
	cursor: pointer;
}
@media (max-width:480px) {
   form{
   	width: 100%;
   }
}

img{
    width: 700px;
}

#contenedor{
    width: 700px;
    height: 400px; 
    margin: 30px auto;
    overflow: hidden;
}

#contenedor ul{
    list-style: none;
    padding: 0;
    width: 2800px;
    display: flex;  
    animation: slide 20s infinite alternate linear;
}

@keyframes slide {
	0% {margin-left: 0;}
	15% {margin-left: 0;}
	
	20% {margin-left: -100%;}
	35% {margin-left: -100%;}
	
	40% {margin-left: -200%;}
	55% {margin-left: -200%;}
	
	60%  {margin-left: -300%;}
	75% {margin-left: -300%;}

	80%  {margin-left: -400%;}
	100% {margin-left: -400%;}
}
