/*Sprites -------------------------------------------------*/
.layerDisplay-iconViewData_a
{
	background-image : url(sprite/layerDisplay-iconViewData_a.png);
	background-repeat : no-repeat;
	width : 15px;
	height : 15px;
}
.layerDisplay-iconViewData_a:hover
{
	background-image : url(sprite/layerDisplay-iconViewData_a--hover.png);
	background-repeat : no-repeat;
	width : 15px;
	height : 15px;
}
.layerDisplay-info
{
	background-image : url(sprite/layerDisplay-info.png);
	background-repeat : no-repeat;
	width : 15px;
	height : 15px;
}
.layerDisplay-info:hover
{
	background-image : url(sprite/layerDisplay-info--hover.png);
	background-repeat : no-repeat;
	width : 15px;
	height : 15px;
}

.layerDisplay-download:hover
{
	background-image : url(sprite/icon-descarga-directa-hover.png);
	background-repeat : no-repeat;
	width : 16px;
	height : 15px;
}
.layerDisplay-download
{
	background-image : url(sprite/icon-descarga-directa.png);
	background-repeat : no-repeat;
	width : 16px;
	height : 15px;
  /***********/
  float: right;
  margin-top: 1px;
  margin-left: 3px;
  /***********/
}

/***********/
.layerDisplay-icon-hand
{
  background-image : url(sprite/icon-hand.png);
  background-repeat : no-repeat;
}

.layerDisplay-icon-hand:hover
{
  background-image : url(sprite/icon-hand-hover.png);
  background-repeat : no-repeat;
}

.layerDisplay-icon-libro
{
  background-image : url(sprite/icon-libro.png);
  background-repeat : no-repeat;
}
.layerDisplay-icon-libro:hover
{
  background-image : url(sprite/icon-libro-hover.png);
  background-repeat : no-repeat;
}
.layerDisplay-icon-mapa
{
  background-image : url(sprite/icon-mapa.png);
  background-repeat : no-repeat;
  width: 16px;
  height: 16px;
}
/**********/



.layerDisplay-sprite{
   background-image: url(plantilla.png);
    background-repeat: no-repeat;
}

.layerDisplay-iconText_a{background-position: 0px 0px;display: block;height: 16px;width: 16px;}
.layerDisplay-iconText_d{background-position: 0px -15px;display: block;height: 16px;width: 16px;}

.layerDisplay-iconZoom_a{background-position: -15px 0px;display: block;height: 16px;width: 16px;}
.layerDisplay-iconZoom_d{background-position: -15px -15px;display: block;height: 16px;width: 16px;}

.layerDisplay-iconEye_a{background-position: -30px 0px;display: block;height: 16px;width: 16px;}
.layerDisplay-iconEye_d{background-position: -30px -15px;display: block;height: 16px;width: 16px;}

.layerDisplay-iconClose2{background-position: -45px 0px;display: block;height: 16px;width: 16px;}
.layerDisplay-iconClose2:hover{background-position: -45px -15px;display: block;height: 16px;width: 16px;}

.layerDisplay-iconCircleBlank_a{background-position: -60px 0px;display: block;height: 16px;width: 16px; float: left;}
.layerDisplay-iconCircleBlank_d{background-position: -60px -15px;display: block;height: 16px;width: 16px;}

.layerDisplay-iconCircleFill_a{background-position: -75px 0px;display: block;height: 16px;width: 16px;float: left;}
.layerDisplay-iconCircleFill_d{background-position: -75px -15px;display: block;height: 16px;width: 16px;}

.layerDisplay-iconClear{background-position: -90px 0px;display: block;height: 16px;width: 16px;float: left;}
.layerDisplay-iconClear:hover{background-position: -90px -15px;display: block;height: 16px;width: 16px;}

.layerDisplay-iconMetadato_a{background-position: -105px 0px;display: block;height: 16px;width: 16px;float: right;}
.layerDisplay-iconMetadato_d:hover{background-position: -105px -15px;display: block;height: 16px;width: 16px;}

.layerDisplay-iconClose{background-position: 0px -30px;display: block;height: 22px;width: 22px;}
.layerDisplay-iconClose:hover{background-position: 0px -52px;display: block;height: 22px;width: 22px;}

.layerDisplay-iconClose-s{background-position: 0px -74px;display: block;height: 15px;width: 15px;}
.layerDisplay-iconClose-s:hover{background-position: 0px -89px;display: block;height: 15px;width: 15px;}

