@charset "utf-8";
	.sprite-cenago-sdown
{
	background-image : url(sprite-cenago-sdown.png);
	background-repeat : no-repeat;
	width : 18px;
	height : 18px;
}
.sprite-cenago-sclose
{
	background-image : url(sprite-cenago-sclose.png);
	background-repeat : no-repeat;
	width : 18px;
	height : 18px;
}
.sprite-cenago-sdown:hover
{
	background-image : url(sprite-cenago-sdown--hover.png);
	background-repeat : no-repeat;
	width : 18px;
	height : 18px;
}
.sprite-cenago-sclose:hover
{
	background-image : url(sprite-cenago-sclose--hover.png);
	background-repeat : no-repeat;
	width : 18px;
	height : 18px;
}
.sprite-cenago-ok
{
	background-image : url(sprite-cenago-ok.png);
	background-repeat : no-repeat;
	width : 27px;
	height : 27px;
}
.sprite-cenago-circle
{
	background-image : url(sprite-cenago-circle.png);
	background-repeat : no-repeat;
	width : 27px;
	height : 27px;
}
.sprite-cenago-ok:hover
{
	background-image : url(sprite-cenago-ok--hover.png);
	background-repeat : no-repeat;
	width : 27px;
	height : 27px;
}
.sprite-cenago-circle:hover
{
	background-image : url(sprite-cenago-circle--hover.png);
	background-repeat : no-repeat;
	width : 27px;
	height : 27px;
}
.sprite-cenago-info
{
	background-image : url(sprite-cenago-info.png);
	background-repeat : no-repeat;
	width : 27px;
	height : 27px;
}
.sprite-cenago-info:hover
{
	background-image : url(sprite-cenago-info--hover.png);
	background-repeat : no-repeat;
	width : 27px;
	height : 27px;
}
.sprite-cenago-bback
{
	background-image : url(sprite-cenago-bback.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-cenago-bback:hover
{
	background-image : url(sprite-cenago-bback--hover.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-cenago-forward
{
	background-image : url(sprite-cenago-forward.png);
	background-repeat : no-repeat;
	width : 27px;
	height : 27px;
}
.sprite-cenago-forward:hover
{
	background-image : url(sprite-cenago-forward--hover.png);
	background-repeat : no-repeat;
	width : 27px;
	height : 27px;
}
.sprite-cenago-bdown
{
	background-image : url(sprite-cenago-bdown.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-cenago-bdown:hover
{
	background-image : url(sprite-cenago-bdown--hover.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-cenago-bup
{
	background-image : url(sprite-cenago-bup.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-cenago-bup:hover
{
	background-image : url(sprite-cenago-bup--hover.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-cenago-ok-nm
{
	background-image : url(sprite-cenago-ok-nm.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-cenago-ok-nm:hover
{
	background-image : url(sprite-cenago-ok-nm--hover.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-cenago-modify
{
	background-image : url(sprite-cenago-modify.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-cenago-ok-m:hover
{
	background-image : url(sprite-cenago-ok-m--hover.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-cenago-ok-m
{
	background-image : url(sprite-cenago-ok-m.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-cenago-graph
{
	background-image : url(sprite-cenago-graph.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-cenago-geo
{
	background-image : url(sprite-cenago-geo.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-cenago-down:hover
{
	background-image : url(sprite-cenago-down--hover.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-cenago-doc-xls:hover
{
	background-image : url(sprite-cenago-doc-xls--hover.png);
	background-repeat : no-repeat;
	width : 27px;
	height : 27px;
}
.sprite-cenago-down
{
	background-image : url(sprite-cenago-down.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-cenago-doc-csv:hover
{
	background-image : url(sprite-cenago-doc-csv--hover.png);
	background-repeat : no-repeat;
	width : 27px;
	height : 27px;
}
.sprite-cenago-big-info
{
	background-image : url(sprite-cenago-big-info.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-cenago-modify:hover
{
	background-image : url(sprite-cenago-modify--hover.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-cenago-geo:hover
{
	background-image : url(sprite-cenago-geo--hover.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-cenago-doc-xls
{
	background-image : url(sprite-cenago-doc-xls.png);
	background-repeat : no-repeat;
	width : 27px;
	height : 27px;
}
.sprite-cenago-binfo
{
	background-image : url(sprite-cenago-binfo.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-cenago-doc-pdf
{
	background-image : url(sprite-cenago-doc-pdf.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-cenago-doc-csv
{
	background-image : url(sprite-cenago-doc-csv.png);
	background-repeat : no-repeat;
	width : 27px;
	height : 27px;
}
.sprite-cenago-big-info:hover
{
	background-image : url(sprite-cenago-big-info--hover.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-cenago-doc-pdf:hover
{
	background-image : url(sprite-cenago-doc-pdf--hover.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-cenago-vars
{
	background-image : url(sprite-cenago-vars.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-cenago-vars:hover
{
	background-image : url(sprite-cenago-vars--hover.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-cenago-binfo:hover
{
	background-image : url(sprite-cenago-binfo--hover.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
.sprite-cenago-graph:hover
{
	background-image : url(sprite-cenago-graph--hover.png);
	background-repeat : no-repeat;
	width : 40px;
	height : 40px;
}
